* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 1440px) {
  .main {
    height: 100vh;
    background-color: #B6B6B6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .mainSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .mainSection .mainContent {
    background: white;
  }
  .main .mainSection .mainContent .innerContent {
    padding: 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .main .mainSection .mainContent .innerContent .heading {
    font-size: 24px;
    font-weight: 700;
    color: #111;
    margin: 0;
  }
  .main .mainSection .mainContent .innerContent .searchBar {
    position: relative;
  }
  .main .mainSection .mainContent .innerContent .searchBar input {
    border: none;
    padding: 8px 12px;
    border: 1px solid #EAEAF0;
    outline: none;
    font-size: 15px;
    background: #F8F8FA;
    color: #404855;
  }
  .main .mainSection .mainContent .innerContent .searchBar button {
    background: #F8F8FA;
    border: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures .img {
    position: relative;
    width: 177px;
    height: 180px;
    background-image: url("../../dist/pictures/Frame.png");
    background-size: cover;
    background-origin: border-box;
  }
  .main .mainSection .mainContent .innerContent .pictures .img i {
    padding: 7px;
    color: red;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures .img p {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .main .mainSection .menu {
    background-color: #EEEDE8;
    padding: 24px 16px 12px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .mainSection .menu .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #7A7A7A;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .main .mainSection .menu .label .order {
    padding-bottom: 5px;
    font-size: 14px;
    gap: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    border-bottom: 1px solid #DEDAD4;
  }
  .main .mainSection .menu .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .mainSection .menu .footer .button-1 {
    padding: 6px 10px;
    border: none;
    background-color: #FFF;
    gap: 20px;
  }
  .main .mainSection .menu .footer .button-1 .first {
    font-size: 14px;
    font-weight: 300;
  }
  .main .mainSection .menu .footer .button-1 .second {
    font-size: 14px;
    font-weight: 700;
  }
  .main .mainSection .menu .footer .button-1 .third {
    font-size: 18px;
    font-weight: 700;
  }
  .main .mainSection .menu .footer .button-2 {
    background: #404853;
    color: white;
    padding: 11px 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 680px) {
  .main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .mainSection {
    height: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .mainSection .maincontent .innerContent {
    max-height: none;
  }
  .main .mainSection .menu .label {
    display: none;
  }
  .main .mainSection .menu .footer {
    position: absolute;
    bottom: -2px;
  }
  .main .mainSection .menu .footer .button-1 {
    background-color: #EEEDE8;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .mainSection .menu .footer .button-1::before {
    content: "";
    text-align: center;
    display: block;
    height: 4px;
    margin: 0 0 0 100px;
    background: black;
  }
}
/*# sourceMappingURL=custom.css.map */