* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

//-------------- laptop view --------------


.main {
  height: 100vh;
  background-color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;

  // <!-- main section -->
  .mainSection {
    max-width: 920px;
    max-height: 550px;
    display: flex;
    position: relative;

    // <!------ 1st section -------->
    .mainContent {
      background: white;
      flex-basis: 75%;
      position: relative;

      .innerContent {
        height: 100%;
        overflow-y: scroll;
        padding: 24px;

        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        position: relative;

        // <!----- main heading ----->
        .heading {
          font-size: 24px;
          font-weight: 700;
          color: #111;
          margin: 0;
        }

        // <!-------- search bar ------->

        .searchBar {
          position: relative;

          input {
            width: 100%;
            border: none;
            padding: 8px 12px;
            border: 1px solid #eaeaf0;
            outline: none;
            font-size: 15px;
            background: #f8f8fa;
            color: #404855;
          }

           button{
            background: #f8f8fa;
            border: none;
            padding: 0;
            position: absolute;
            right: 20px;
            top: 10px;
            color: black;
            
          }
        }

        // <!----------- pictures ---------->
        .pictures {
          display: flex;
          // align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 24px 10px;
          position: relative;
          
          .icon {
            height: 25px;
            z-index: 10;
            cursor: pointer;
            background-color: white;
            padding: 5px;
            border: none;
            border-radius: 50px;
            position: relative;
            top: 10px;
            right: 40px;
            margin: 0 -39px  0 0;
          }
          
          .imgButton {
            width: 175px;
            height: 180px;
            position: relative;
            border: none;
            transition: 0.1s;
            
            &:hover {
              padding: 2px;
              border: 3px solid red;
            }
            
            &:active {
              
              padding: 10px;
            }
            
            .img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            
            
            .text {
              color: white;
              font-size: 15px;
              position: absolute;
              bottom: 10px;
              left: 10px;
            }
            .large{
              width: 620px;
              height: 551px;
              background: rgb(32, 32, 32);
              z-index: 100;
              position: fixed;
              top: 50px;
              left: 97px;
              padding: 70px 20px 50px ;
              object-fit: cover;
              &::before{
                content: 'Detailansicht verlassen';
                color: white;
                position: relative;
                top: 200px;

              }
              

            }
          }
        }
      }
    }
  }
}

// <!-- ------------- side-bar ------------- -->
.sideBar {
  max-width: 300px;
  min-width: 300px;

  background-color: #eeede8;
  padding: 24px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  // <!------------ labels ------------>
  .label {
    display: flex;
    gap: 8px;
    flex-direction: column;

    .groupButton {
        border: none;
        background: transparent;
        cursor: pointer;
        border-bottom: 1px solid #dedad4;


      &:active {
        background: red;
      }

      .renderGroups {

        display: flex;
        align-items: center;
        justify-content: space-between;


        .renderGroupLabel {
          width: 40%;
          padding-bottom: 5px;
          font-size: 14px;
          gap: 6px;
          // display: flex;
          color: #7a7a7a;
          text-align: left;
          // border: 1px solid ;
        }

        .textColor {
          color: black;
        }

        .renderOptionLabel {
          width: 60%;
          color: #DA6649;
          text-align: start;
          background-color: green;
        }
      }
    }
  }


  // <!-- ------------- buttons ------------- -->
  .footer {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

    .button1 {
      padding: 6px 10px;
      border: none;
      background-color: #fff;
      // color: red;
      gap: 20px;

      .first {
        font-size: 14px;
        font-weight: 300;
      }

      .second {
        font-size: 14px;
        font-weight: 700;
      }

      .third {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .button2 {
      // width: 230px;
      background: #404853;
      color: white;
      padding: 11px 0;
      border: none;
      font-size: 16px;
      font-weight: 500;
    }
    .back{
      border: none;
      cursor: pointer;
      color: #404855;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-decoration-line: underline;
    }
  }
}

.displayNone {
  display: none;
}