* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 1440px) {
  .main {
    height: 100vh;
    background-color: #B6B6B6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .mainSection {
    max-width: 880px;
    max-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .mainSection .mainContent {
    background: white;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .main .mainSection .mainContent .innerContent {
    height: 100%;
    overflow-y: scroll;
    padding: 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .main .mainSection .mainContent .innerContent .heading {
    font-size: 24px;
    font-weight: 700;
    color: #111;
    margin: 0;
  }
  .main .mainSection .mainContent .innerContent .searchBar {
    position: relative;
  }
  .main .mainSection .mainContent .innerContent .searchBar input {
    width: 100%;
    border: none;
    padding: 8px 12px;
    border: 1px solid #EAEAF0;
    outline: none;
    font-size: 15px;
    background: #F8F8FA;
    color: #404855;
  }
  .main .mainSection .mainContent .innerContent .searchBar button {
    background: #F8F8FA;
    border: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton {
    border: none;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton .pic {
    width: 177px;
    height: 180px;
    position: relative;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton .pic .icon {
    cursor: pointer;
    padding: 5px;
    border: none;
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton .pic .icon .fa {
    font-size: 15px;
    color: white;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton .pic .img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .mainSection .mainContent .innerContent .pictures .imgButton .pic .text {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .main .mainSection .sideBar {
    background-color: #EEEDE8;
    padding: 24px 16px 12px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .mainSection .sideBar .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .mainSection .sideBar .label button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
  }
  .main .mainSection .sideBar .label button:active {
    background: red;
  }
  .main .mainSection .sideBar .label button .order {
    padding-bottom: 5px;
    font-size: 14px;
    gap: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #7A7A7A;
    text-align: left;
    border-bottom: 1px solid #DEDAD4;
  }
  .main .mainSection .sideBar .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .mainSection .sideBar .footer .button-1 {
    padding: 6px 10px;
    border: none;
    background-color: #FFF;
    gap: 20px;
  }
  .main .mainSection .sideBar .footer .button-1 .first {
    font-size: 14px;
    font-weight: 300;
  }
  .main .mainSection .sideBar .footer .button-1 .second {
    font-size: 14px;
    font-weight: 700;
  }
  .main .mainSection .sideBar .footer .button-1 .third {
    font-size: 18px;
    font-weight: 700;
  }
  .main .mainSection .sideBar .footer .button-2 {
    background: #404853;
    color: white;
    padding: 11px 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=custom.css.map */