* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



//-------------- laptop view --------------

@media(max-width: 1440px) {
  .main {
    height: 100vh;
    background-color: #B6B6B6;
    display: flex;
    align-items: center;
    justify-content: center;


    // <!-- main section -->
    .mainSection {
      max-width: 880px;
      max-height: 600px;
      display: flex;



      // <!------ 1st section -------->
      .mainContent {
        background: white;
        flex-basis: 75%;

        .innerContent {
          height: 100%;
          overflow-y: scroll;
          padding: 24px;

          display: inline-flex;
          flex-direction: column;
          gap: 15px;

          // <!----- main heading ----->
          .heading {
            font-size: 24px;
            font-weight: 700;
            color: #111;
            margin: 0;
          }

          // <!-------- search bar ------->

          .searchBar {
            position: relative;

            input {
              width: 100%;

              border: none;
              padding: 8px 12px;
              border: 1px solid #EAEAF0;
              outline: none;
              font-size: 15px;
              background: #F8F8FA;
              color: #404855;
            }

            button {
              background: #F8F8FA;
              border: none;
              padding: 0;
              position: absolute;
              right: 20px;
              top: 10px
            }
          }

          // <!----------- pictures ---------->
          .pictures {
            display: flex;
            // align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px 10px;

            .imgButton {
              border: none;

              .pic {
                width: 177px;
                height: 180px;
                position: relative;

                .icon {
                  cursor: pointer;
                  padding: 5px;
                  border: none;
                  position: absolute;
                  background-color: transparent;
                  top: 10px;
                  right: 10px;

                  .fa {
                    font-size: 15px;
                    color: white;
                  }
                }

                .img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;

                }

                .text {

                  color: white;
                  font-size: 15px;
                  position: absolute;
                  bottom: 10px;
                  left: 10px;
                }
              }
            }
          }
        }
      }

      // <!-- ------------- side-bar ------------- -->
      .sideBar {

        background-color: #EEEDE8;
        padding: 24px 16px 12px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        // <!------------ labels ------------>
        .label {
          display: flex;
          gap: 8px;
          flex-direction: column;

          button {
            border: none;
            background: transparent;
            cursor: pointer;
            color: red;


            &:active {
              background: red;
            }

            .order {
              padding-bottom: 5px;
              font-size: 14px;
              gap: 6px;
              display: flex;
              color: #7A7A7A;
              text-align: left;
              border-bottom: 1px solid #DEDAD4;
            }
          }

        }



        // <!-- ------------- buttons ------------- -->
        .footer {
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;

          .button-1 {
            // width: 230px;
            padding: 6px 10px;
            border: none;
            background-color: #FFF;
            gap: 20px;

            .first {
              font-size: 14px;
              font-weight: 300;
            }

            .second {
              font-size: 14px;
              font-weight: 700;
            }

            .third {
              font-size: 18px;
              font-weight: 700;
            }
          }

          .button-2 {
            // width: 230px;
            background: #404853;
            color: white;
            padding: 11px 10px;
            border: none;
            font-size: 16px;
            font-weight: 500;

          }
        }

      }
    }
  }
}